body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: black;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background-card {
  background-color: #2d2d2d !important;
}

.secondary-border {
  border-color: #7b8998 !important;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.even {
  background-color: #2c2c2c;
}